* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Merriweather', serif; }

.main_index {
  padding: 100px;
  height: 80%; }

.canavan_main {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 5rem;
  padding-bottom: 12rem; }

.main_galeria {
  padding: 5rem;
  margin: auto; }

.main_contactenos {
  display: flex;
  justify-content: space-around;
  padding: 5rem; }

.main_donaahora {
  padding: 5rem; }

header {
  height: 10%; }

.h2_canavan {
  text-align: center;
  color: #3c4ca8;
  font-family: Helvetica;
  font-size: 2rem;
  margin-bottom: 2rem; }

.video_canavan {
  text-align: center;
  padding-bottom: 2rem; }

.accordion-button {
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.accordion-body {
  font-size: 1rem;
  color: #323689;
  font-family: sans-serif;
  font-size: 1,5rem; }

.accordion-item {
  color: black; }

body {
  background-image: url(../img/fondo.jpg); }

.h2_galeria {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #3c4ca8;
  font-family: Helvetica;
  font-size: 2rem;
  padding-bottom: 2rem; }

.carousel-item {
  transition: 2.5s; }

.carousel-inner {
  width: 100%;
  height: auto; }

.contenedor-galeria {
  font-size: 20px; }

.albun {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center; }

.albun video {
  display: inline;
  width: 250px;
  height: 400px;
  border: #0f000f dashed 1px;
  margin-top: 3rem;
  border-radius: 10px; }

.h2_contactanos {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #3c4ca8;
  font-family: Helvetica; }

form {
  border: #0a000a 2px solid;
  border-radius: 2px;
  text-align: center;
  padding: 20px;
  border-radius: 10px; }

.campo {
  text-align: center;
  font-size: 20px;
  padding: 5px;
  margin: 10px;
  width: 280px; }

.boton {
  padding: 10px; }

.boton:hover {
  transition: 2s;
  transform: scale(1.1); }

.caja1 {
  display: inline;
  font-size: 15px;
  padding: 5 0px;
  margin-top: 40px;
  width: 1000px;
  height: 500px; }

.h2_donaahora {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #3c4ca8;
  font-family: Helvetica;
  text-align: center;
  margin-bottom: 1.5rem; }

.p_donaahora {
  font-family: sans-serif;
  font-size: 1.5rem;
  padding-bottom: 2rem; }

.icons {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 80px;
  margin-top: 2rem;
  text-align: center;
  animation-name: cambioancho;
  animation-duration: 6s;
  animation-iteration-count: infinite; }

.navbar-brand {
  justify-content: space-evenly;
  display: none; }

.navbar {
  font-size: 18px; }

.navbar-collapse {
  display: flex;
  justify-content: flex-end; }

.nav-link {
  padding-top: 0px;
  border-radius: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 1000;
  margin-left: 10px; }

.nav-item :hover {
  background-color: #d0d5d6; }

.navbar-nav {
  text-align: center; }

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: white; }

.nav-link {
  color: white; }

.h1_index {
  font-size: 30px;
  margin-top: 10px; }

.container-fluid {
  font-size: 15px; }

.logo {
  width: 60px;
  height: 60px;
  margin: 10px; }

.main_index {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.imagen {
  width: 350;
  height: 400;
  margin: 15px;
  border-radius: 15px; }

.seccion1 {
  width: 350px;
  height: 400px;
  background-image: linear-gradient(to bottom, rgba(81, 73, 73, 0.314), rgba(189, 189, 204, 0.412));
  border: #212529 2px solid;
  margin: 10px;
  padding: 10px;
  border-radius: 20px; }

.imagen1 {
  margin-left: auto;
  background-image: url(../img/ciro.jpg);
  background-size: cover; }

.h2_index {
  padding-bottom: 10px;
  color: #3c4ca8;
  font-family: Helvetica; }

.p {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #281717;
  background-color: #f9f0f0;
  margin-right: 5px;
  padding-top: 10px;
  line-height: 23px; }

.p_index {
  font-family: arial; }

.footer {
  padding: 5px;
  text-align: center; }

.footer :hover {
  transform: scale(1.3);
  transition: 1s; }

.footer i {
  font-size: 15px;
  color: #fefafa;
  padding: 10px;
  border-radius: #0a000a 5px solid; }

/* animaciones */
@keyframes cambioancho {
  0% {
    font-size: 100%; }
  50% {
    font-size: 75%; }
  75% {
    font-size: 50%; }
  100% {
    font-size: 0%; } }

@media (max-width: 575px) {
  /* index */
  header {
    display: flex;
    flex-direction: column; }
  main {
    padding: 5px;
    height: 80%; }
  .main_index {
    display: flex;
    flex-direction: column;
    padding: 1px;
    text-align: center;
    align-items: center; }
  .index_h1 {
    font-size: 30px;
    padding: 10px; }
  .logo {
    flex-direction: column;
    font-size: 10px; }
  .logo h1 {
    text-align: center; }
  .navbar {
    font-size: 1rem;
    padding-left: none; }
  .nav-link {
    padding: 0px;
    margin: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600; }
  .navbar-collapse {
    display: flex;
    flex-direction: column; }
  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    display: flex;
    flex-direction: column;
    flex-wrap: inherit;
    align-items: center;
    justify-content: center; }
  .card {
    padding: 5px; }
  .imagen1 {
    margin: 5px;
    width: 95%; }
  .h2_index {
    font-size: 1.5rem; }
  .p {
    margin: 5px;
    text-align: left;
    height: auto;
    width: auto;
    font-size: 1rem; }
  .footer i {
    font-size: 20px;
    padding: 5px; }
  /* canavan */
  .canavan_main {
    padding: 1rem; }
  .video_canavan video {
    width: 300px;
    height: 400px; }
  iframe {
    width: 300px;
    height: 350px;
    text-align: center;
    padding-bottom: 2rem; }
  .h2_canavan {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .caja p {
    font-size: 12px; }
  .p_canavan {
    text-align: left;
    margin: 3rem; }
  /* galeria */
  .main_galeria {
    padding: 0rem; }
  .h2_galeria {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .carousel-inner {
    padding-top: 50px; }
  .albun {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 1rem; }
  .albun video {
    width: 200px;
    height: 300px;
    border: #0f000f dashed 1px;
    margin: 10px;
    padding-top: 10px;
    border-radius: 2px; }
  /* contactenos */
  .main_contactenos {
    padding: 0rem; }
  form {
    border: #0a000a 1px solid;
    margin: 40px;
    text-align: center;
    margin-bottom: 6rem; }
  textarea {
    width: 15rem;
    height: 10rem; }
  input.campo {
    width: 15rem; }
  .campo {
    font-size: 10px;
    padding: 5px;
    margin: 5px; }
  /* dona ahora */
  .main_donaahora {
    padding: 0.5rem; }
  .h2_donaahora {
    margin-bottom: 3px;
    margin: 20px; }
  .p_donaahora {
    font-size: 1rem; } }

@media (max-width: 768px) {
  /* index */
  .main_index {
    height: 80%; }
  .seccion1 {
    width: 300px;
    height: 450px; }
  /* canavan */
  .canavan_main {
    padding: 0rem;
    margin: 1rem; }
  .video_canavan video {
    text-align: center;
    padding-bottom: 2rem;
    border-radius: 10px; }
  /* galeria */
  .main_galeria {
    padding: 2rem; }
  .albun video {
    width: 193px;
    height: 356px; }
  .main_galeria {
    margin: 0rem; } }
