
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Merriweather', serif;
}

@import "./variables/tipografias" ;
@import "./variables/colores" ;
@import "./componentes/main" ;
@import "./componentes/header" ;
@import "./secciones/canavan" ;
@import "./componentes/body" ;
@import "./secciones/galeria" ;
@import "./secciones/contactenos" ;
@import "./secciones/donaahora" ;
@import "./componentes/nav" ;
@import "./secciones/index" ;
@import "./componentes/footer" ;


/* animaciones */
@keyframes cambioancho {

  0% {
    font-size: 100%;
  }

  50% {
    font-size: 75%;
  }

  75% {
    font-size: 50%;
  }

  100% {
    font-size: 0%;
  }
}

@media (max-width: 575px) {

  /* index */
  header {
    display: flex;
    flex-direction: column;
  }

  main {
    padding: 5px;
    height: 80%;
  }

  .main_index {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .index_h1 {
    font-size: 30px;
    padding: 10px;
  }

  .logo {
    flex-direction: column;
    font-size: 10px;
  }

  .logo h1 {
    text-align: center;
  }

  .navbar {
    font-size: 1rem;
    padding-left: none;
  }

  .nav-link {
    padding: 0px;
    margin: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
  }

  .navbar-collapse {
    display: flex;
    flex-direction: column;
  }

  .navbar>.container,
  .navbar>.container-fluid,
  .navbar>.container-lg,
  .navbar>.container-md,
  .navbar>.container-sm,
  .navbar>.container-xl,
  .navbar>.container-xxl {
    display: flex;
    flex-direction: column;
    flex-wrap: inherit;
    align-items: center;
    justify-content: center;
  }

  .card {
    padding: 5px;
  }

  .imagen1 {
    margin: 5px;
    width: 95%
  }

  .h2_index {
    font-size: 1.5rem;
  }

  .p {
    margin: 5px;
    text-align: left;
    height: auto;
    width: auto;
    font-size: 1rem;
  }

  .footer i {
    font-size: 20px;
    padding: 5px;
  }

  /* canavan */
  .canavan_main {
    padding-top: 1rem;
    padding-bottom: 6rem;
  }

  iframe {
    width: 300px;
    height: 350px;
    text-align: center;
    padding-bottom: 2rem;
  }

  .h2_canavan {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .caja p {
    font-size: 12px;
  }

  .p_canavan {
    text-align: left;
    margin: 3rem;
  }

  /* galeria */
  .h2_galeria {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .carousel-inner {
    padding-top: 50px;
  }

  .albun {
    grid-template-columns: none;
    justify-items: center;
    padding-top: 10px;
  }

  video {
    width: 200px;
    height: 300px;
    border: #0f000f dashed 1px;
    margin: 10px;
    padding-top: 10px;
    border-radius: 2px;
  }

  /* contactenos */
  form {
    border: #0a000a 1px solid;
    margin: 40px;
    text-align: center;
    margin-bottom: 6rem;
  }

  textarea {
    width: 15rem;
    height: 10rem;
  }

  input.campo {
    width: 15rem;
  }

  .campo {
    font-size: 10px;
    padding: 5px;
    margin: 5px;
  }

  /* dona ahora */
  .h2_donaahora {
    margin-bottom: 3px;
    margin: 20px;
  }

  .p_donaahora {
    font-size: 1rem;
  }
}