*{
    margin: 0;
    padding: 0;
}

@import './componentes/header';
@import './componentes/body';
@import './componentes/main';
@import './componentes/footer';
@import './secciones/index';
@import './secciones/canavan';
@import './secciones/donaahora';
@import './secciones/contactenos';
@import './secciones/galeria';





