.canavan_main {
  padding-top: 5rem;
  padding-bottom: 12rem;
}

.h2_canavan {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #3c4ca8;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.video_canavan {
  text-align: center;
  padding-bottom: 2rem;
}

.accordion-button {
  font-size: 1rem;
}

.accordion-body {
  font-size: 1rem;
}
