

.h2_canavan {
  text-align: center;
  color:  $tituloprincipal;
  font-family: $tipografiatitulo ;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.video_canavan {
  text-align: center;
  padding-bottom: 2rem;
}

.accordion-button {
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.accordion-body {
  font-size: 1rem;
  color: rgb(50, 54, 137);
  font-family: $parrafosecundario;
  font-size: 1,5rem;

}

.accordion-item {
  color: black;
}
