
.canavan_main {
  padding-top: 5rem;
  padding-bottom: 12rem;
}

.h2_canavan {
  text-align: center;
  color:  $tituloprincipal;
  font-family: $tipografiatitulo ;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.video_canavan {
  text-align: center;
  padding-bottom: 2rem;
}

.accordion-button {
  font-size: 1rem;
}

.accordion-body {
  font-size: 1rem;
}
