.main_contactenos {
  display: flex;
  justify-content: space-around;
}

.h2_contactanos {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #3c4ca8;
}

form {
  border: #0a000a 2px solid;
  border-radius: 2px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.campo {
  text-align: center;
  font-size: 20px;
  padding: 5px;
  margin: 10px;
  width: 280px;
}

.boton {
  padding: 10px;
}

.boton:hover {

  transition: 2s;
  transform: scale(1.1);
}
