.caja1 {
  display: inline;
  font-size: 15px;
  padding: 5 0px;
  margin-top: 40px;
  width: 1000px;
  height: 500px;
}

.h2_donaahora {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:  $tituloprincipal;
  text-align: center;
  margin-bottom: 20px;
}

.p_donaahora {
  font-size: 1rem;
  padding-bottom: 2rem;
}

.icons {
  font-size: 80px;
  margin-top: 2rem;
  text-align: center;
  animation-name: cambioancho;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}