.h2_galeria {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:  $tituloprincipal;
  font-family: $tipografiatitulo ;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.carousel-item {
  transition: 2.5s;
}

.carousel-inner {
  width: 100%;
  height: auto;
}

.contenedor-galeria {
  font-size: 20px;
}

.albun {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

video {
  display: inline;
  width: 350px;
  height: 400px;
  border: #0f000f dashed 2px;
  margin-top: 3rem;
  border-radius: 10px;
}
